<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
 <!--@click="aa"  可以写 v-on:click='aa'-->
   <div id="vue" @click="aa">
       {{name}}
       <br>
       <input type="text" v-model="firstname">
       <br>
       <input type="text" v-model="lastname">
       <br>
       <input type="text" v-model="allname">
       <br>
       <input type="text" v-model="engname">
   </div>
</body>
<script>
   var vm=new Vue({
       el:'#vue',
       data:{
           name:'zhangsan',
           firstname:'李',
           lastname:'巧兰',
           engname:'liqiaolan',
       },
        methods:{
            aa:function () {
                this.name ='lisi';
            },
        },
       computed:{
           allname:function () {
               console.log(1);
               return this.firstname+this.lastname;
           },
       }

   })
</script>
</html>